<!DOCTYPE html>
<html>
<head>
  <title>All Players</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://localhost:3000/demo.js"></script>
</head>
<body>


  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Total Players</h1>
    </div>
  </div>

  <form method='post' action='/api/registerPlayers'>
    <div class="form-group">
      <input class='hidden' type="text" hidden value=<%= allPlayer[1].tour_id %> name='tourId'>
      <input type="text" placeholder="Enter player Name" name='player_name'>
    </div>
    <button type="submit" class="btn btn-default">Add Players</button>
  </form>

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">All Players
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <% for(var i=0;i<allPlayer.length;i++) { %>
        <li><a href="/inside_game/<%= allPlayer[i].tour_id %>"><%= allPlayer[i].player_name %></a></li>
        <% } %>
      </ul>
    </div>




    <div>
      <% for(var i=0;i<allPlayer.length;i++) { %>
      <a href="/inside_game/<%= allPlayer[i].tour_id %>">
        <button type="button" class="tourId btn btn-default"><%= allPlayer[i].player_name %></button>
      </a>
      <% } %>
    </div>
    <div>
      <a href="/inside_game/<%= allPlayer[1].tour_id %>">
        <button type="button" class="tourId btn btn-default"> Back </button>
      </a>
    </div>

  </body>
  </html>
