<!DOCTYPE html>
<html lang="en">
<head>
  <title>Result Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


  <div class="jumbotron text-center">
    <h1>Tournament Details</h1>
    <P>Here Is Your Result</P>
  </div>



  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Winner</th>
          <th>Loser</th>
          <th>Matches</th>
          <th>Tournament</th>
        </tr>
      </thead>
      <tbody>
        <%for(var i=0;i<work.length;i++){%>
        <tr>
          <td><%= work[i].winner_id %></td>
          <td><%= work[i].loser_id %></td>
          <td><%= work[i].matches_id %></td>
          <td><%= work[i].tour_id %></td>
        </tr>
        <%}%>
      </tbody>
    </table>
  </div>

  <div>
    <form method='post' id="finalResult" action='/api/getFixture'>
      <div class="form-group">
        <input class='hidden' type="text" hidden value=<%= work[1].tour_id %> name='tourId'>
      </div>
      <button type="submit" class="btn btn-default hidden">Back To Fixture</button>
    </form>
  </div>


</body>
</html>
